.footer-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(48, 48, 48);
	color: white;
	text-align: center;
	font-size: 17px;
	height: 50px;
}

.footer-container p {
	margin: 1em;
	float: left;
}

.footer-container .our-mail {
	float: right;
	font-size: 17px;
}
.footer-container .our-mail a {
	color: white;
}
